<body>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading fw-bolder py-2">Welcome to Stack Underflow!</h1>
      <p class="lead text-muted text-dark fw-bold">A community of people passionate about solving problems and eager to help each other in the quest of getting better.</p>
    </div>
  </section>

  <div class="album py-5 bg-dark">
    <div class="container">
      <p class="text-center fw-bold fs-3" style="color: lightgray">
        Stories about how the platform helped people
      </p>
      <div class="row">
        <div class="col-md-4" role="button">
          <div class="card mb-4 border-1 border-light">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://img.freepik.com/free-photo/turned-gray-laptop-computer_400718-47.jpg?w=1380&t=st=1682256688~exp=1682257288~hmac=5d3f4451a63402f50a5762e44c35429376b6084aef6efd67011b129c7e6aa3e2" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text ">This is a card text presenting some story.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 border-1 border-light" role="button">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://img.freepik.com/free-photo/diagram-blank-sticky-notes-blackboard_329181-723.jpg?w=1380&t=st=1682257013~exp=1682257613~hmac=d9e843fad544d4dc38002096fa3ef4839b3a06ac13bf39d78c25a5906c508b89" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text ">This is a card text presenting some story.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 border-1 border-light" role="button">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://img.freepik.com/free-photo/close-up-image-programer-working-his-desk-office_1098-18707.jpg?w=1380&t=st=1682257121~exp=1682257721~hmac=23acb6002d4a5df2efa3e1fbf9755289c8e6c4af58f2f6d2e9f3e63a1446d584" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text ">This is a card text presenting some story.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 border-1 border-light" role="button">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="https://img.freepik.com/free-photo/closeup-electronic-circuit-board-with-cpu-microchip-electronic-components-background_1387-819.jpg?w=1380&t=st=1682281975~exp=1682282575~hmac=09048935095a86304097280bce11e959342200432af7bb83b61df1f84b4d131d" data-holder-rendered="true">
            <div class="card-body">
              <p class="card-text ">This is a card text presenting some story.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 border-1 border-light" role="button">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://img.freepik.com/premium-photo/computer-virus-concept-web-page-with-bugs-3d-render-illustration_393343-569.jpg?w=1480" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text ">This is a card text presenting some story.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 border-1 border-light" role="button">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://img.freepik.com/free-photo/computer-program-coding-screen_53876-138060.jpg?w=1060&t=st=1682282690~exp=1682283290~hmac=943380e86aa7e1d44530ec325150c5911ef236989fd2649d4b20fc1a42536248" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
            <div class="card-body">
              <p class="card-text ">This is a card text presenting some story.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
