<section class="bg-light" *ngIf="user">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4 mb-sm-5">
        <div class="card card-style1 border-0 bg-dark">
          <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-4 mb-lg-0 d-flex justify-content-center align-items-center">
                <img [src]=user.profilePicture alt="..."
                     class="img-fluid img-thumbnail rounded-circle border-3 border-opacity-75 mb-3 border-dark"
                     style="height:300px; width:300px">
              </div>
              <div class="col-lg-6 px-xl-10">
                <div class="bg-light d-lg-inline-block py-1-9 px-lg-5 px-sm-6 mb-1-9 rounded">
                  <h3 class="h2 text-dark mb-0">{{user.username}}</h3>
                  <span class="text-dark fw-bold">Programmer</span>
                </div>
                <ul class="list-unstyled mb-1-9">
                  <li class="mb-2 mb-xl-3 display-28 text-light"><span class="display-26 text-light me-2 font-weight-600">Username:</span>{{user.username}}</li>
                  <li class="mb-2 mb-xl-3 display-28 text-light"><span class="display-26 text-light me-2 font-weight-600">Score:</span>{{user.score}}</li>
                  <li class="mb-2 mb-xl-3 display-28 text-light"><span class="display-26 text-light me-2 font-weight-600">Full Name:</span>{{user.firstName}}  {{user.lastName}}</li>
                  <li class="mb-2 mb-xl-3 display-28 text-light"><span class="display-26 text-light me-2 font-weight-600">Location:</span><i class="bi bi-geo-alt-fill"></i> {{user.location}}</li>
                </ul>
                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                  <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                  <li><a href="#"><i class="ti-facebook"></i></a></li>
                  <li><a href="#"><i class="ti-pinterest"></i></a></li>
                  <li><a href="#"><i class="ti-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 py-2 mb-4 mb-sm-5 card card-style1 border-0 bg-dark">
        <div>
          <span class="section-title text-light mb-2 mb-sm-2 fw-bold fs-4">About Me</span>
          <p class="text-light" >Edith is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          <p class="mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.</p>
        </div>
      </div>
    </div>
  </div>
</section>
