<div class="container my-5">
  <h1 class="mb-4 fw-bolder">Edit Your Question</h1>
  <form>
    <div class="mb-3">
      <label for="questionTitle" class="form-label fs-5 fw-bold">Question Title</label>
      <input type="text" class="form-control" id="questionTitle" name="questionTitle" [(ngModel)]="newTitle" placeholder="{{ question.title }}">
    </div>
    <div class="mb-3">
      <label for="question-text" class="form-label fs-5 fw-bold">Question Text</label>
      <textarea class="form-control" id="question-text" name="questionText" rows="8" [(ngModel)]="newText" placeholder="{{ question.text }}" required></textarea>
    </div>
    <button class="btn btn-dark btn-lg mb-3" (click)="editQuestion()">Edit Question</button>
  </form>
</div>
